using_mtom_and_apache_fop/service/src/main/resources/DoubleIt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DoubleIt"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:di="http://www.example.org/schema/DoubleIt"
   xmlns:tns="http://www.example.org/contract/DoubleIt"
   targetNamespace="http://www.example.org/contract/DoubleIt">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.example.org/schema/DoubleIt">
         <xsd:element name="DownloadPDF">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="numberToDouble" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DownloadPDFResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="doubledNumber" type="xsd:base64Binary" 
                        xmime:expectedContentTypes="application/octet-stream"
                        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/> 
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="UploadPDF">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="pdfToUpload" type="xsd:base64Binary" 
                        xmime:expectedContentTypes="application/octet-stream"
                        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/> 
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="UploadPDFResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="pdfSize" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="DownloadPDFRequest">
      <wsdl:part element="di:DownloadPDF" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DownloadPDFResponse">
      <wsdl:part element="di:DownloadPDFResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="UploadPDFRequest">
      <wsdl:part element="di:UploadPDF" name="parameters" />
   </wsdl:message>
   <wsdl:message name="UploadPDFResponse">
      <wsdl:part element="di:UploadPDFResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="DoubleItPortType">
      <wsdl:operation name="DownloadPDF">
         <wsdl:input message="tns:DownloadPDFRequest" />
         <wsdl:output message="tns:DownloadPDFResponse" />
      </wsdl:operation>
      <wsdl:operation name="UploadPDF">
         <wsdl:input message="tns:UploadPDFRequest" />
         <wsdl:output message="tns:UploadPDFResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DoubleItBinding" type="tns:DoubleItPortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="DownloadPDF">
         <soap:operation soapAction=""/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UploadPDF">
         <soap:operation soapAction=""/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DoubleItService">
      <wsdl:port name="DoubleItPort" binding="tns:DoubleItBinding">
         <soap:address
            location="http://localhost:8080/doubleit/services/doubleit"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>

