metro_sts_tutorial/service/src/main/config/DoubleIt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DoubleIt"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:di="http://www.example.org/schema/DoubleIt"
   xmlns:tns="http://www.example.org/contract/DoubleIt"
   targetNamespace="http://www.example.org/contract/DoubleIt" 
   xmlns:wsp="http://www.w3.org/ns/ws-policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" 
   xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
   xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
   xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
   xmlns:wsaw="http://www.w3.org/2005/08/addressing" 
   xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.example.org/schema/DoubleIt">
         <xsd:element name="DoubleIt">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="numberToDouble" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DoubleItResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="doubledNumber" type="xsd:int" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="DoubleItRequest">
      <wsdl:part element="di:DoubleIt" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DoubleItResponse">
      <wsdl:part element="di:DoubleItResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="DoubleItPortType">
      <wsdl:operation name="DoubleIt">
         <wsdl:input message="tns:DoubleItRequest" />
         <wsdl:output message="tns:DoubleItResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DoubleItBinding" type="tns:DoubleItPortType">
      <wsp:PolicyReference URI="#DoubleItBindingPolicy"/>
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="DoubleIt">
         <soap:operation soapAction=""/>
         <wsdl:input><soap:body use="literal"/>
            <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Input_Policy"/>
         </wsdl:input>
         <wsdl:output><soap:body use="literal"/>
            <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Output_Policy"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DoubleItService">
      <wsdl:port name="DoubleItPort" binding="tns:DoubleItBinding">
         <soap:address
            location="http://localhost:8080/doubleit/services/doubleit"/>
      </wsdl:port>
   </wsdl:service>
   <wsp:Policy wsu:Id="DoubleItBindingPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsam:Addressing wsp:Optional="false"/>
            <sp:SymmetricBinding>
               <wsp:Policy>
                  <sp:ProtectionToken>
                     <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                           <sp:RequestSecurityTokenTemplate>
                              <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1</t:TokenType>
                              <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                              <t:KeySize>256</t:KeySize>
                           </sp:RequestSecurityTokenTemplate>
                           <wsp:Policy>
                              <sp:RequireInternalReference/>
                           </wsp:Policy>
                           <sp:Issuer>
                              <wsaw:Address>http://localhost:8080/DoubleItSTS/STS</wsaw:Address>
                              <wsaw:Metadata>
                                 <wsx:Metadata>
                                    <wsx:MetadataSection>
                                       <wsx:MetadataReference>
                                          <wsaw:Address>http://localhost:8080/DoubleItSTS/STS/mex</wsaw:Address>
                                       </wsx:MetadataReference>
                                    </wsx:MetadataSection>
                                 </wsx:Metadata>
                              </wsaw:Metadata>
                           </sp:Issuer>
                        </sp:IssuedToken>
                     </wsp:Policy>
                  </sp:ProtectionToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:SymmetricBinding>
            <sp:Wss11>
               <wsp:Policy>
                  <sp:MustSupportRefIssuerSerial/>
                  <sp:MustSupportRefThumbprint/>
                  <sp:MustSupportRefEncryptedKey/>
               </wsp:Policy>
            </sp:Wss11>
            <sp:Trust13>
               <wsp:Policy>
                  <sp:MustSupportIssuedTokens/>
                  <sp:RequireClientEntropy/>
                  <sp:RequireServerEntropy/>
               </wsp:Policy>
            </sp:Trust13>
            <sc:KeyStore wspp:visibility="private" location="${keystore.dir}/servicestore.jks" type="JKS" storepass="sspass" alias="myservicekey" keypass="skpass"/>
            <sc:TrustStore wspp:visibility="private" storepass="sspass" type="JKS" location="${keystore.dir}/servicestore.jks"/>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Input_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Output_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
</wsdl:definitions> 

