updating_databases_with_jaxws/service/src/main/resources/Employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://www.example.org/contract/Employee"
   xmlns:emp="http://www.example.org/schema/Employee"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Employee"
   targetNamespace="http://www.example.org/contract/Employee">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.example.org/schema/Employee">
         <xsd:simpleType name="GenderType">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="M" />
               <xsd:enumeration value="F" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name='NameType'>
            <xsd:restriction base='xsd:string'>
               <xsd:maxLength value='20' />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="EmployeeRecordType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="EmployeeId"
                  type="xsd:int">
               </xsd:element>
               <xsd:element name="LastName" type="emp:NameType" />
               <xsd:element name="FirstName" type="emp:NameType" />
               <xsd:element name="Gender" type="emp:GenderType" />
               <xsd:element name="DepartmentId"
                  type="xsd:int" />
               <xsd:element name="Hiredate" type="xsd:date" />
               <xsd:element minOccurs="0" name="Salary"
                  type="xsd:float" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ArrayOfEmployeeRecordType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="unbounded"
                  name="EmployeeRecord" nillable="true"
                  type="emp:EmployeeRecordType" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="EmptyResponse">
            <xsd:sequence />
         </xsd:complexType>
         <xsd:complexType name="DepartmentIdType">
            <xsd:sequence>
               <xsd:element name="DepartmentId"
                  type="xsd:int" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="EmployeeIdType">
            <xsd:sequence>
               <xsd:element name="EmployeeId"
                  type="xsd:int" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetEmployeeByEmpId"
            type="emp:EmployeeIdType" />
         <xsd:element name="GetEmployeeByEmpIdResponse"
            type="emp:EmployeeRecordType" />
         <xsd:element name="GetEmployeesByDeptId"
            type="emp:DepartmentIdType" />
         <xsd:element name="GetEmployeesByDeptIdResponse"
            type="emp:ArrayOfEmployeeRecordType" />
         <xsd:element name="AddEmployee"
            type="emp:EmployeeRecordType">
            <xsd:annotation>
               <xsd:documentation>
                  EmployeeId field will be system generated upon insert;
                  any value supplied here will be ignored.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AddEmployeeResponse"
            type="emp:EmployeeIdType" />
         <xsd:element name="UpdateEmployee"
            type="emp:EmployeeRecordType" />
         <xsd:element name="UpdateEmployeeResponse"
            type="emp:EmptyResponse" />
         <xsd:element name="DeleteEmployee" type="emp:EmployeeIdType" />
         <xsd:element name="DeleteEmployeeResponse"
            type="emp:EmptyResponse" />
         <xsd:element name="BasicFault">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="errorDetails" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetEmployeeByEmpIdRequest">
      <wsdl:part element="emp:GetEmployeeByEmpId" name="parameters" />
   </wsdl:message>
   <wsdl:message name="GetEmployeeByEmpIdResponse">
      <wsdl:part element="emp:GetEmployeeByEmpIdResponse"
         name="parameters" />
   </wsdl:message>
   <wsdl:message name="GetEmployeesByDeptIdRequest">
      <wsdl:part element="emp:GetEmployeesByDeptId" name="parameters" />
   </wsdl:message>
   <wsdl:message name="GetEmployeesByDeptIdResponse">
      <wsdl:part element="emp:GetEmployeesByDeptIdResponse"
         name="parameters" />
   </wsdl:message>
   <wsdl:message name="AddEmployeeRequest">
      <wsdl:part element="emp:AddEmployee" name="parameters" />
   </wsdl:message>
   <wsdl:message name="AddEmployeeResponse">
      <wsdl:part element="emp:AddEmployeeResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="UpdateEmployeeRequest">
      <wsdl:part element="emp:UpdateEmployee" name="parameters" />
   </wsdl:message>
   <wsdl:message name="UpdateEmployeeResponse">
      <wsdl:part element="emp:UpdateEmployeeResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DeleteEmployeeRequest">
      <wsdl:part element="emp:DeleteEmployee" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DeleteEmployeeResponse">
      <wsdl:part element="emp:DeleteEmployeeResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DataProcessingFault">
      <wsdl:documentation>
         This fault corresponds to any type of database error that
         occurs as a result of the information being queried or modified:
         for example, row not found, foreign or unique key errors,
         invalid or missing required values provided, etc.
      </wsdl:documentation>
      <wsdl:part element="emp:BasicFault" name="BasicFault" />
   </wsdl:message>
   <wsdl:portType name="EmployeePortType">
      <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
         <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
      </jaxws:bindings>
      <wsdl:operation name="GetEmployeeByEmpId">
         <wsdl:input message="tns:GetEmployeeByEmpIdRequest" />
         <wsdl:output message="tns:GetEmployeeByEmpIdResponse" />
         <wsdl:fault message="tns:DataProcessingFault"
            name="DataProcessingFault" />
      </wsdl:operation>
      <wsdl:operation name="GetEmployeesByDeptId">
         <wsdl:input message="tns:GetEmployeesByDeptIdRequest" />
         <wsdl:output message="tns:GetEmployeesByDeptIdResponse" />
      </wsdl:operation>
      <wsdl:operation name="AddEmployee">
         <wsdl:input message="tns:AddEmployeeRequest" />
         <wsdl:output message="tns:AddEmployeeResponse" />
         <wsdl:fault message="tns:DataProcessingFault"
            name="DataProcessingFault" />
      </wsdl:operation>
      <wsdl:operation name="UpdateEmployee">
         <wsdl:input message="tns:UpdateEmployeeRequest" />
         <wsdl:output message="tns:UpdateEmployeeResponse" />
         <wsdl:fault message="tns:DataProcessingFault"
            name="DataProcessingFault" />
      </wsdl:operation>
      <wsdl:operation name="DeleteEmployee">
         <wsdl:input message="tns:DeleteEmployeeRequest" />
         <wsdl:output message="tns:DeleteEmployeeResponse" />
         <wsdl:fault message="tns:DataProcessingFault"
            name="DataProcessingFault" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EmployeeBinding" type="tns:EmployeePortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="GetEmployeeByEmpId">
         <soap:operation soapAction="" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="DataProcessingFault">
            <soap:fault name="DataProcessingFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetEmployeesByDeptId">
         <soap:operation soapAction="" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddEmployee">
         <soap:operation soapAction="" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="DataProcessingFault">
            <soap:fault name="DataProcessingFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="UpdateEmployee">
         <soap:operation soapAction="" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="DataProcessingFault">
            <soap:fault name="DataProcessingFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="DeleteEmployee">
         <soap:operation soapAction="" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="DataProcessingFault">
            <soap:fault name="DataProcessingFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EmployeeService">
      <wsdl:port name="EmployeePort" binding="tns:EmployeeBinding">
         <soap:address
            location="http://localhost:8080/empservice/services/employee" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
