junit_soap_client/service/src/main/resources/DoubleIt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DoubleIt"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:di="http://www.example.org/schema/DoubleIt"
   xmlns:tns="http://www.example.org/contract/DoubleIt"
   targetNamespace="http://www.example.org/contract/DoubleIt">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.example.org/schema/DoubleIt">
         <xsd:element name="DoubleIt">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="numberToDouble" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DoubleItResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="doubledNumber" type="xsd:int" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="DoubleItRequest">
      <wsdl:part element="di:DoubleIt" name="parameters" />
   </wsdl:message>
   <wsdl:message name="DoubleItResponse">
      <wsdl:part element="di:DoubleItResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="DoubleItPortType">
      <wsdl:operation name="DoubleIt">
         <wsdl:input message="tns:DoubleItRequest" />
         <wsdl:output message="tns:DoubleItResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DoubleItBinding" type="tns:DoubleItPortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="DoubleIt">
         <soap:operation soapAction=""/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DoubleItService">
      <wsdl:port name="DoubleItPort" binding="tns:DoubleItBinding">
         <soap:address location="http://localhost:8080/doubleit/services/doubleit"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions> 
