metro_sts_tutorial/sts-war/src/main/webapp/WEB-INF/wsdl/DoubleItSTSService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 1997-2010 Oracle and/or its affiliates. All rights reserved.

Oracle and Java are registered trademarks of Oracle and/or its affiliates.
Other names may be trademarks of their respective owners.


 The contents of this file are subject to the terms of either the GNU
General Public License Version 2 only ("GPL") or the Common
Development and Distribution License("CDDL") (collectively, the
"License"). You may not use this file except in compliance with the
License. You can obtain a copy of the License at
http://www.netbeans.org/cddl-gplv2.html
or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
specific language governing permissions and limitations under the
License.  When distributing the software, include this License Header
Notice in each file and include the License file at
nbbuild/licenses/CDDL-GPL-2-CP.  Oracle designates this
particular file as subject to the "Classpath" exception as provided
by Oracle in the GPL Version 2 section of the License file that
accompanied this code. If applicable, add the following below the
License Header, with the fields enclosed by brackets [] replaced by
your own identifying information:
"Portions Copyrighted [year] [name of copyright owner]"

 Contributor(s):

  The Original Software is NetBeans. The Initial Developer of the Original
  Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
  Microsystems, Inc. All Rights Reserved.

If you wish your version of this file to be governed by only the CDDL
or only the GPL Version 2, indicate your decision by adding
"[Contributor] elects to include this software in this distribution
under the [CDDL or GPL Version 2] license." If you do not indicate a
single choice of license, a recipient has the option to distribute
your version of this file under either the CDDL, the GPL Version 2 or
to extend the choice of license to its licensees as provided above.
However, if you add GPL Version 2 code and therefore, elected the GPL
Version 2 license, then the option applies only if the new code is
made subject to such option by the copyright holder.
-->

<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" 
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace='http://docs.oasis-open.org/ws-sx/ws-trust/200512'>

            <xsd:complexType name='AbstractRequestSecurityTokenType'>
                <xsd:sequence>
                    <xsd:any namespace='##any' processContents='lax'
                        minOccurs='0' maxOccurs='unbounded' />
                </xsd:sequence>
                <xsd:attribute name='Context' type='xsd:anyURI'
                    use='optional' />
                <xsd:anyAttribute namespace='##other'
                    processContents='lax' />
            </xsd:complexType>
            
            <xsd:element name='RequestSecurityToken'
                type='wst:AbstractRequestSecurityTokenType' />

            <xsd:element name='RequestSecurityTokenResponseCollection'
                type='wst:RequestSecurityTokenResponseCollectionType' />
            <xsd:complexType name='RequestSecurityTokenResponseCollectionType'>
                <xsd:sequence>
                    <xsd:element ref='wst:RequestSecurityTokenResponse'
                        minOccurs='1' maxOccurs='unbounded' />
                </xsd:sequence>
                <xsd:anyAttribute namespace='##other'
                    processContents='lax' />
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="IssueToken_InputMessage">
        <wsdl:part name="rstMessage" element="wst:RequestSecurityToken" />
    </wsdl:message>

    <wsdl:message name="IssueToken_OutputMessage">
        <wsdl:part name="IssueTokenResult" element="wst:RequestSecurityTokenResponseCollection"/>
    </wsdl:message>

    <wsdl:portType name="STSService">
        <wsdl:operation name="IssueToken">
            <wsdl:input wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"
                message="tns:IssueToken_InputMessage" />
            <wsdl:output wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/IssueFinal"
                message="tns:IssueToken_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UT_Binding" type="tns:STSService">
        <wsp:PolicyReference URI="#UT_policy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="IssueToken">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#Input_Policy" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#Output_Policy" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="X509_Binding" type="tns:STSService">
        <wsp:PolicyReference URI="#X509_policy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="IssueToken">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#Input_Policy" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#Output_Policy" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsp:Policy wsu:Id="UT_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:ValidatorConfiguration
                    xmlns:sc="http://schemas.sun.com/2006/03/wss/server">
                    <sc:Validator name="usernameValidator"
                        classname="sts.PlainTextPasswordValidator" />
                </sc:ValidatorConfiguration>
                <tc:STSConfiguration
                    xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/server"
                    encryptIssuedKey="true" encryptIssuedToken="false">
                    <tc:LifeTime>36000</tc:LifeTime>
                    <tc:Contract>com.sun.xml.ws.security.trust.impl.WSTrustContractImpl
                    </tc:Contract>
                    <tc:Issuer>DoubleItSTSIssuer</tc:Issuer>
                    <tc:ServiceProviders>
                        <tc:ServiceProvider
                            endpoint="http://localhost:8080/doubleit/services/doubleit">
                            <tc:CertAlias>myservicekey</tc:CertAlias>
                            <tc:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </tc:TokenType>
                            <tc:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey
                            </tc:KeyType>
                        </tc:ServiceProvider>
                    </tc:ServiceProviders>
                </tc:STSConfiguration>
                <wsam:Addressing wsp:Optional="false">
                    <wsp:Policy>
                        <wsam:AnonymousResponses />
                    </wsp:Policy>
                </wsam:Addressing>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10 />
                                        <sp:RequireIssuerSerialReference />
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                        <sp:OnlySignEntireHeadersAndBody />
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial />
                        <sp:MustSupportRefThumbprint />
                        <sp:MustSupportRefEncryptedKey />
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10 />
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private"
                    alias="mystskey" keypass="stskpass" storepass="stsspass"
                    type="JKS"
                    location="${keystore.dir}/stsstore.jks"/>
                <sc:TrustStore wspp:visibility="private"
                    storepass="stsspass" type="JKS"
                    location="${keystore.dir}/stsstore.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="X509_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:ValidatorConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/server">
                </sc:ValidatorConfiguration>
                <tc:STSConfiguration xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/server"
                    encryptIssuedKey="true" encryptIssuedToken="false">
                    <tc:LifeTime>36000</tc:LifeTime>
                    <tc:Contract>com.sun.xml.ws.security.trust.impl.WSTrustContractImpl
                    </tc:Contract>
                    <tc:Issuer>DoubleItSTSIssuer</tc:Issuer>
                    <tc:ServiceProviders>
                        <tc:ServiceProvider endpoint="http://localhost:8080/doubleit/services/doubleit">
                            <tc:CertAlias>myservicekey</tc:CertAlias>
                            <tc:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1
                            </tc:TokenType>
                            <tc:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey
                            </tc:KeyType>
                        </tc:ServiceProvider>
                    </tc:ServiceProviders>
                </tc:STSConfiguration>
                <wsam:Addressing wsp:Optional="false">
                    <wsp:Policy>
                        <wsam:AnonymousResponses />
                    </wsp:Policy>
                </wsam:Addressing>
                <sp:AsymmetricBinding>
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10 />
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10 />
                                        <sp:RequireIssuerSerialReference />
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                        <sp:EncryptSignature />
                        <sp:OnlySignEntireHeadersAndBody />
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss10>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial />
                    </wsp:Policy>
                </sp:Wss10>
                <sc:KeyStore wspp:visibility="private" alias="mystskey" keypass="stskpass"
                    storepass="stsspass" type="JKS" location="${keystore.dir}/stsstore.jks" />
                <sc:TrustStore wspp:visibility="private" storepass="stsspass" type="JKS"
                    location="${keystore.dir}/stsstore.jks" />
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body />
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body />
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body />
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body />
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsdl:service name="SecurityTokenService">
        <!--wsdl:port binding="tns:X509_Binding" name="STS_Port"-->
        <wsdl:port binding="tns:UT_Binding" name="STS_Port">
            <soap:address location="http://localhost:8080/DoubleItSTS/STS" />
            <jaxws:bindings>
                <jaxws:provider>true</jaxws:provider>
            </jaxws:bindings>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
